h1{
    font: bold;
    text-align: center;
    padding: 10px 10px;
}

h2{
    text-align: center;
}

p{
    text-align: center;
    text-decoration-color: white;
    font-family: Arial;
    border: 50px;
    padding: 5px 10px;
}

body{
    background-image: url("https://assets.nflxext.com/ffe/siteui/vlv3/c1366fb4-3292-4428-9639-b73f25539794/1bf445d0-02d2-421d-93d5-cf49813230ba/VE-es-20240408-popsignuptwoweeks-perspective_alpha_website_large.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.fila{
    display: flex;
    padding: 0px 10px;
}

a{
    display: block;
    width: 100px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
    margin: 50px 30px;
    padding: 5px 10px;
    color: white;
    background-color: red;

}